@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-emerald-500 hover:bg-white hover:text-emerald-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-300 ease-in-out;
  }

  .btn-sm {
    @apply px-3 py-1 text-xs;
  }

  .btn-icon {
    @apply inline-flex items-center;
  }

  .btn-icon svg {
    @apply mr-2;
  }
}

.dark {
  color-scheme: dark;
}

.animate-typewriter {
  opacity: 0;
  animation: typewriter 0.01s forwards;
}

@keyframes typewriter {
  to {
    opacity: 1;
  }
}